<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/forgotpass" method="post" name="myform" id="myform">
        <label for="email">E-mail</label>
        <input type="text" id="emailid" name="emailid"><br><br>

        <input type="submit" id="verify" name="verify" value="verify">
    </form>


</body>

</html>