<html>
    <head>
        <title>Job Application Form</title>
    </head>

    <style>
        table,th,td
        {
            border: 1px solid black;
        }
    </style>
    <body>
        <h1> <center>Job Application Form</center></h1><br><hr><br>
        <h2>Basic Detail</h2><br>
        <table>
            <form>
                <tr>
                    <td>
                        <label for="first">First Name</label>
                    </td>
                    <td>
                        <input type="text" id="first" name="first" value=""><br>
                    </td>
                </tr>


                <tr>
                    <td>
                        <label for="last">Last Name</label>
                    </td>
                    <td>
                        <input type="text" id="last" name="last" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="designation">Designation</label>
                    </td>
                    <td>
                        <input type="text" id="designation" name="designation" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="mail">E-mail</label>
                    </td>
                    <td>
                        <input type="text" id="mail" name="mail" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="address1">Address 1</label>
                    </td>
                    <td>
                        <input type="text" id="address1" name="address1" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="address2">Address 2</label>
                    </td>
                    <td>
                        <input type="text" id="address2" name="address2" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="contact">Contact No</label>
                    </td>
                    <td>
                        <input type="text" id="contact" name="contact" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="city">City</label>
                    </td>
                    <td>
                        <input type="text" id="city" name="city" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="gender">Gender</label>
                    </td>
                    <td>
                        <label for="Male">Male</label>
                        <input type="radio" id="Male" name="gender" value="Male">
                        <label for="Female">Female</label>
                        <input type="radio" id="Female" name="gender" value="Female">
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="Zipcode">Zipcode</label>
                    </td>
                    <td>
                        <input type="text" id="Zipcode" name="Zipcode" value=""><br>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="state">State</label>
                    </td>
                    <td>
                        <select name="state" id="State">
                            <option value="Gujarat">Gujarat</option>
                            <option value="Kerla">Kerla</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                        </select>
                    </td>
                </tr>



                <tr>
                    <td>
                        <label for="RelationshipStatus">Relationship Status</label>
                    </td>
                    <td>
                        <select name="Relationship Status" id="RelationshipStatus">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option><br><br>
                        </select>
                    </td>
                </tr>
                
                
                
                <tr>
                    <td>
                        <label for="DateOfBirth">Date Of Birth</label>
                    </td>
                    <td>
                        <input type="text" id="DateOfBirth" name="DateOfBirth" value=""><br>
                    </td>
                </tr>
                


            </form>
        </table><br><br><br>



        <h2>Education Detail</h2>
        <table>
            <form>
                <tr>
                    SSC Result
                </tr>
                <tr>
                    <td>
                        <label for="NameOfBoard">Name Of Board</label>
                    </td>
                    <td>
                        <input type="text" id="NameOfBoard" name="NameOfBoard" value=""><br>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="PassingYear">Passing Year</label>
                    </td>
                    <td>
                        <input type="text" id="PassingYear" name="PassingYear" value=""><br>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Percentage">Percentage</label>
                    </td>
                    <td>
                        <input type="text" id="Percentage" name="Percentage" value=""><br>
                    </td>
                </tr>
            </form>
            </table><br><br>



                <table>
                    <form>
                        <tr>
                            HSC Result
                        </tr>
                        <tr>
                            <td>
                                <label for="NameOfBoard">Name Of Board</label>
                            </td>
                            <td>
                                <input type="text" id="NameOfBoard" name="NameOfBoard" value=""><br>
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                <label for="PassingYear">Passing Year</label>
                            </td>
                            <td>
                                <input type="text" id="PassingYear" name="PassingYear" value=""><br>
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                <label for="Percentage">Percentage</label>
                            </td>
                            <td>
                                <input type="text" id="Percentage" name="Percentage" value=""><br>
                            </td>
                        </tr>
        
        
            </form>
        </table><br><br>



        <table>
            <form>
                <tr>
                    Bachelor Degree
                </tr>
                <tr>
                    <td>
                        <label for="CourseName">Course Name</label>
                    </td>
                    <td>
                        <input type="text" id="CourseName" name="CourseName" value=""><br>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="University">University</label>
                    </td>
                    <td>
                        <input type="text" id="University" name="University" value=""><br>
                    </td>
                </tr>


                <tr>
                    <td>
                        <label for="PassingYear">Passing Year</label>
                    </td>
                    <td>
                        <input type="text" id="PassingYear" name="PassingYear" value=""><br>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Percentage">Percentage</label>
                    </td>
                    <td>
                        <input type="text" id="Percentage" name="Percentage" value=""><br>
                    </td>
                </tr>


        </form>
</table><br><br>


<table>
    <form>
        <tr>
            Master Degree
        </tr>
        <tr>
            <td>
                <label for="CourseName">Course Name</label>
            </td>
            <td>
                <input type="text" id="CourseName" name="CourseName" value=""><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="University">University</label>
            </td>
            <td>
                <input type="text" id="University" name="University" value=""><br>
            </td>
        </tr>


        <tr>
            <td>
                <label for="PassingYear">Passing Year</label>
            </td>
            <td>
                <input type="text" id="PassingYear" name="PassingYear" value=""><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="Percentage">Percentage</label>
            </td>
            <td>
                <input type="text" id="Percentage" name="Percentage" value=""><br>
            </td>
        </tr>


</form>
</table><br><br><br>


    <h2>Work Experience</h2>
    <table>
        <form>
            <tr>
                <td>
                    <label for="company1">Company Name</label>
                </td>
                <td>
                    <input type="text" id="company1" name="company1" value=""><br>
                </td>

                <td style="width:50px; border:1px solid white">
                                
                </td>

                <td>
                    <label for="designation">Designation</label>
                </td>
                <td>
                    <input type="text" id="designation" name="designation" value=""><br>
                </td>
            </tr>
        </form>
    </table>

    <table>
        <form>
            <tr>
                <td>
                    <label for="company2">Company Name</label>
                </td>
                <td>
                    <input type="text" id="company2" name="company2" value=""><br>
                </td>

                <td style="width:50px; border:1px solid white">
                                
                </td>

                <td>
                    <label for="designation">Designation</label>
                </td>
                <td>
                    <input type="text" id="designation" name="designation" value=""><br>
                </td>
            </tr>
        </form>
    </table>

    <table>
        <form>
            <tr>
                <td>
                    <label for="company3">Company Name</label>
                </td>
                <td>
                    <input type="text" id="company3" name="company3" value=""><br>
                </td>

                <td style="width:50px; border:1px solid white">
                                
                </td>

                <td>
                    <label for="designation">Designation</label>
                </td>
                <td>
                    <input type="text" id="designation" name="designation" value=""><br>
                </td>
            </tr>
        </form>
    </table><br><br><br>



    <h2>Language Known</h2>
    <table>
        <form>
            <tr>
                <td>
                    <label for="hindi">Hindi</label>
                </td>
                <td>
                    <input type="checkbox" id="hindi" name="hindi">
                </td>
            
                <td>
                    <label for="Read">Read</label>
                </td>
                <td>
                    <input type="checkbox" id="read" name="read">
                </td>
            
                <td>
                    <label for="write">Write</label>
                </td>
                <td>
                    <input type="checkbox" id="write" name="write">
                </td>
            
                <td>
                    <label for="speak">Speak</label>
                </td>
                <td>
                    <input type="checkbox" id="speak" name="speak"><br><br>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="english">English</label>
                </td>
                <td>
                    <input type="checkbox" id="hindi" name="hindi">
                </td>
            
                <td>
                    <label for="Read">Read</label>
                </td>
                <td>
                    <input type="checkbox" id="read" name="read">
                </td>
            
                <td>
                    <label for="write">Write</label>
                </td>
                <td>
                    <input type="checkbox" id="write" name="write">
                </td>
            
                <td>
                    <label for="speak">Speak</label>
                </td>
                <td>
                    <input type="checkbox" id="speak" name="speak"><br><br>
                </td>
            </tr>
            


            <tr>
                <td>
                    <label for="gujarati">Gujarati</label>
                </td>
                <td>
                    <input type="checkbox" id="hindi" name="hindi">
                </td>
            
                <td>
                    <label for="Read">Read</label>
                </td>
                <td>
                    <input type="checkbox" id="read" name="read">
                </td>
            
                <td>
                    <label for="write">Write</label>
                </td>
                <td>
                    <input type="checkbox" id="write" name="write">
                </td>
            
                <td>
                    <label for="speak">Speak</label>
                </td>
                <td>
                    <input type="checkbox" id="speak" name="speak"><br><br>
                </td>
            </tr>
            
            
        </form>
    </table><br><br><br>


    <h2>Technology You Know</h2>
    <table>
        <form>
            <tr>
                <td>
                    <label for="php">php</label>
                </td>
                <td>
                    <input type="checkbox" id="php" name="php">
                </td>
            
                <td>
                    <label for="beginer">Beginer</label>
                </td>
                <td>
                    <input type="checkbox" id="beginer" name="beginer">
                </td>
            
                <td>
                    <label for="mediator">Mediator</label>
                </td>
                <td>
                    <input type="checkbox" id="mediator" name="mediator">
                </td>
            
                <td>
                    <label for="expert">Expert</label>
                </td>
                <td>
                    <input type="checkbox" id="expert" name="expert"><br><br>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="mySQL">mySQL</label>
                </td>
                <td>
                    <input type="checkbox" id="mySQL" name="mySQL">
                </td>
            
                <td>
                    <label for="beginer">Beginer</label>
                </td>
                <td>
                    <input type="checkbox" id="beginer" name="beginer">
                </td>
            
                <td>
                    <label for="mediator">Mediator</label>
                </td>
                <td>
                    <input type="checkbox" id="mediator" name="mediator">
                </td>
            
                <td>
                    <label for="expert">Expert</label>
                </td>
                <td>
                    <input type="checkbox" id="expert" name="expert"><br><br>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="laravel">laravel</label>
                </td>
                <td>
                    <input type="checkbox" id="laravel" name="laravel">
                </td>
            
                <td>
                    <label for="beginer">Beginer</label>
                </td>
                <td>
                    <input type="checkbox" id="beginer" name="beginer">
                </td>
            
                <td>
                    <label for="mediator">Mediator</label>
                </td>
                <td>
                    <input type="checkbox" id="mediator" name="mediator">
                </td>
            
                <td>
                    <label for="expert">Expert</label>
                </td>
                <td>
                    <input type="checkbox" id="expert" name="expert"><br><br>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="oracle">oracle</label>
                </td>
                <td>
                    <input type="checkbox" id="oracle" name="oracle">
                </td>
            
                <td>
                    <label for="beginer">Beginer</label>
                </td>
                <td>
                    <input type="checkbox" id="beginer" name="beginer">
                </td>
            
                <td>
                    <label for="mediator">Mediator</label>
                </td>
                <td>
                    <input type="checkbox" id="mediator" name="mediator">
                </td>
            
                <td>
                    <label for="expert">Expert</label>
                </td>
                <td>
                    <input type="checkbox" id="expert" name="expert"><br><br>
                </td>
            </tr>



        </form>
    </table><br><br><br>


    <h2>Reference Contact</h2>
    <table>
        <form>
            <tr>
                <td>
                    <label for="name">Name</label>
                </td>
                <td>
                    <input type="text" id="name" name="name" value=""><br>
                </td>
            
                <td>
                    <label for="contact">Contact No</label>
                </td>
                <td>
                    <input type="text" id="contact" name="contact" value=""><br>
                </td>
            
                <td>
                    <label for="relation">Relation</label>
                </td>
                <td>
                    <input type="text" id="relation" name="relation" value=""><br>
                </td>
            </tr>
            

            <tr>
                <td>
                    <label for="name">Name</label>
                </td>
                <td>
                    <input type="text" id="name" name="name" value=""><br>
                </td>
            
                <td>
                    <label for="contact">Contact No</label>
                </td>
                <td>
                    <input type="text" id="contact" name="contact" value=""><br>
                </td>
            
                <td>
                    <label for="relation">Relation</label>
                </td>
                <td>
                    <input type="text" id="relation" name="relation" value=""><br>
                </td>
            </tr>
        </form>
    </table><br><br><br>


    <h2>Preference</h2>
    <table>
        <form>
            <tr>
                <td>
                    <label for="location">Prefered Location</label>
                </td>
                <td>
                    <input type="text" id="location" name="location value=""><br>
                </td>
            </tr>
    
            <tr>
                <td>
                    <label for="period">Notice Period</label>
                </td>
                <td>
                    <input type="text" id="period" name="period" value=""><br>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="expected">Expected CTC</label>
                </td>
                <td>
                    <input type="text" id="expected" name="expected" value=""><br>
                </td>
            </tr>
            <tr>
            
                <td>
                    <label for="current">Current CTC</label>
                </td>
                <td>
                    <input type="text" id="current" name="current" value=""><br>
                </td>
            </tr>
        </form>
    </table>

    </body>
</html>