<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>create password</h3>
    
   <% if(min>60) {%>
    cannot access

<% }else {%>
    <form action="/password" method="post" id="form">
        <input type="hidden" value="<%=result.salt%>" name="salt">
        <input type="hidden" value="<%=result.id%>" name="id">
        <input type="hidden" value="<%=result.access_key%>" name="accesskey">
        <label for="password">password</label><br><br>
        <input type="text" name="password" id="password">
        <span id="passmsg"></span><br><br><br>

        <label for="retype_password">retype_password</label><br><br>
        <input type="text" name="retype_password" id="retype_password"><br><br>
        <span id="errmsg"></span><br><br>

        <input type="button" value="create" onclick="createpassword()">
    </form>

    
    <%}%>
    <p id="pass"></p>




    <script>
        async function createpassword(){
            let formdata = document.getElementById("form");
            let data = new FormData(formdata);
            const params = new URLSearchParams(data);
            const jobdata = await new Response(params).text();
            console.log(typeof (jobdata));


            let data3 = await fetch ("http://localhost:3040/password", {
                method: "POST",
                headers :{
                    'Content-type': "application/x-www-form-urlencoded"
                },
                body: jobdata
            })
            document.querySelector("#pass").innerHTML = 'password created <a href="/login">login</a>';
            console.log(await data3.json());
        }
    </script>
    
</body>
</html>