<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome</h2>
    <a href="/task01">dynamic table</a><br>
    <a href="/task02">events</a><br>
    <a href="/task03">kuku kube</a><br>
    <a href="/task04">tic-tac-toe</a><br>
    <a href="/task05">form</a><br>
    <a href="/task06">searching</a><br>
    <a href="/task07">attendance</a><br>
    <a href="/task08">monthly attendance</a><br>
    <a href="/task09">sorting by column</a><br>
    <a href="/task10"></a>
</body>
</html>